@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none !important;
  text-decoration: none !important;
  list-style: none !important;
  scroll-behavior: smooth !important;
}

:root {
  /* font-size */
  --fs-xs: 14px;
  --fs-s: 14px;
  --fs-sm: 15px;
  --fs-m: 16px;
  --fs-md: 17px;
  --fs-lg: 28px;
  --fs-xl: 33px;
  --fs-xxl: 50px;
  --fs-2xl: 80px;


  /* color */
  --gray: #bdbbcb;
  --off-gray: #b2b2b2;
  --brown: #83422e;
  --light-black: #1E1E1E73;
  --purle: #AD1AAF;

  /* font-family  */
  --ff-Roboto: 'Roboto Flex', Sans-serif;
  --ff-Poppins: 'Poppins', Sans-serif;
}


.font-roboto {
  font-family: var(--ff-Roboto);
}

.font-poppins {
  font-family: var(--ff-Poppins);
}

/* font-size */

.fs-xs {
  font-size: var(--fs-xs);
}

.fs-s {
  font-size: var(--fs-s);
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fs-m {
  font-size: var(--fs-m);
}

.fs-md {
  font-size: var(--fs-md);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-xxl {
  font-size: var(--fs-xxl);
}

.fs-2xl {
  font-size: var(--fs-2xl);
}

/* color */
.gray {
  color: var(--gray);
}

.off-gray {
  color: var(--off-gray)
}

.bg-purple {
  background: var(--purle);
}


.brown {
  color: var(--brown);
}

.light-black {
  background-color: var(--light-black);
}

/* =========bg-image======= */
.bg-header {
  background-image: url(../src/assets/images/herobg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-levelsec {
  background-image: url(../src/assets/images/level.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.h_richworld {
  height: 200px;
}

.bg-nextsec {
  background-image: url(../src/assets/images/nextbg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 320px;
}

.formsec-bg {
  background-image: url(../src/assets/images/formbg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.roadmap-bg {
  background-image: url(../src/assets/images/roadmapbg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* btn */
.common-btn {
  padding: 13px 25px 14px 25px !important;
  border-radius: 261px;
  transition: all 500ms ease !important;
}

.five {
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
  transition: all .4s ease-in-out;
}

.common-btn:hover {
  animation-name: flow;
  animation-duration: 500ms;
  animation-timing-function: linear;
  background: linear-gradient(#D4145A, #FFC839);
  box-shadow: 0px 0px 10px 0px rgb(210, 110, 38);
}

@keyframes flow {
  0% {
    background-position: 50%;
  }

  100% {
    background-position: 50%;
  }
}

/* gradient */
.graident-btnn {
  padding: 14px 25px 13px 25px !important;
  gap: 10px;
  border-radius: 30px;
  opacity: (0);
  transition: all 500ms ease !important;
  background: linear-gradient(151.6deg, rgba(212, 20, 90, 0.2) 1.85%, rgba(251, 176, 59, 0.2) 98.12%);

}

.graident-btnn:hover {
  box-shadow: 0px 0px 10px 0px rgb(210, 110, 38);
  -webkit-text-fill-color: white;
  opacity: 1;

}

.graident-btnn.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 32px;
  padding: 1px;
  background: linear-gradient(151.6deg, rgba(212, 20, 90, 0.4) 1.85%, rgba(251, 176, 59, 0.4) 98.12%) !important;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  opacity: (0);
  transition: all 500 linear !important;
}

.graident-btnn.box::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 32px;
  padding: 1px;
  background: linear-gradient(151.6deg, rgba(212, 20, 90, 0.2) 1.85%, rgba(251, 176, 59, 0.2) 98.12%);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.link-btn {
  padding: 14px 15px 14px 15px !important;
  border-radius: 261px;
  transition: all 500ms ease !important;
}

.hero_bottom {
  padding-bottom: 0px !important;
}

.link-btn.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 32px;
  padding: 2px;
  background: linear-gradient(151.6deg, rgba(212, 20, 90, 0.4) 1.85%, rgba(251, 176, 59, 0.4) 98.12%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.link-btn:hover {
  box-shadow: 0px 0px 10px 0px rgb(210, 110, 38);
  -webkit-text-fill-color: white;
}

.color-gradient {
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.box {
  position: relative;
  padding: 20px 30px;
  display: inline-block;
}

/* gamesec */
.game-card {
  height: 100%;
  border-radius: 30px;
}

.game-card:hover:before {
  bottom: -82%;
  filter: blur(85px);
}

.game-card:before {
  content: "";
  position: absolute;
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
  width: 82%;
  height: 100%;
  right: 30%;
  left: 11%;
  bottom: -100%;
  border-radius: 30px;
  z-index: -1;
  transition: 300ms linear;
}

.game-card2:hover:after {
  filter: opacity(1);
  opacity: 1;
}

.game-card2:hover:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 32px;
  padding: 1px;
  background: linear-gradient(151.6deg, rgba(212, 20, 90, 0.4) 1.85%, rgba(251, 176, 59, 0.4) 98.12%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/* =====behind====== */
.behind-card {
  transition: 500ms linear !important;
  height: 100%;
}

.behind-card:hover:before {
  bottom: -81%;
  filter: blur(80px);
}

.behind-card:before {
  content: "";
  position: absolute;
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: -102%;
  border-radius: 30px;
  z-index: -1;
  transition: all linear .3s;
}

/* levelsec */
.level-card {
  max-width: 571px;

  border-radius: 30px;
  border: 2px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(218, 43, 85, 0.2) 100%);
  background: #0000001A;
  backdrop-filter: blur(15px);
  transition: 500ms linear;

}

.level-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  right: -2px;
  bottom: -3px;
  border-radius: 30px;
  border: 2px solid transparent;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(218, 43, 85, 0.2) 100%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
  opacity: (0);
}

.level-card:hover {
  box-shadow: 0px 0px 20px 0px rgb(249, 245, 241);
  opacity: (1);
}

/* formsec */
.form-card {
  position: relative;
  border-radius: 30px;
  backdrop-filter: blur(15px) !important;
  display: inline-block;
  border: 2px solid;
  background: #0000001A;
  border-image-source: linear-gradient(231.49deg, rgba(255, 255, 255, 0) -0.51%, rgba(218, 43, 85, 0.3479) 83.2%);

}

.form-group {
  display: block;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 6px 5px 5px 6px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 2px;
}

.form-group input:checked+label:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form_layer {
  top: -69px !important;
}

.w_100 {
  width: 100% !important;
}

.form-card::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: -2px;
  bottom: 0;
  border-radius: 30px;
  border: 2px solid transparent;
  background: linear-gradient(231.49deg, rgba(255, 255, 255, 0) -0.51%, rgba(218, 43, 85, 0.3479) 83.2%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;

}


.form_input {
  background: transparent;
  outline: none;
  border: 1px solid gray;
  color: var(--gray);
  position: relative;
  z-index: 1;
  padding: 12px 22px;
  width: 100%;
  border-radius: 8px;
  transition: all linear 300ms;
}

.form_input:hover {
  border: 1px solid transparent
}

.inputPlace {
  width: 100% !important;
  position: relative;
  background: #FFFFFF1A;
  border-radius: 8px;

}

.input_size {
  width: 24px !important;
  height: 18px !important;
  margin-top: 5px !important;
}

.inputPlace::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border: 1px solid transparent;
  background: linear-gradient(151.6deg, rgba(212, 20, 90, 0.4) 1.85%, rgba(251, 176, 59, 0.4) 98.12%);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  transition: all linear 300ms;
  opacity: 0;
}

.inputPlace:hover::before {
  opacity: 1;
}

.InputBtnPadding {
  padding: 16px 32px;
}

.borderIcon {
  border-radius: 30px;
  border: 1px solid var(--main);
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 300ms;
}

.borderIcon:hover {
  transform: translateY(-22%);
}

.border_t {
  border-top: 1px solid var(--black-ligth);
  padding-top: 22px;
  padding-bottom: 22px;
}

.error {
  color: #ed0f0f;
  font-size: var(--fs-sm);
  font-weight: 500;
  margin-top: 5px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.paddingClose {
  padding: 10px 20px;
}

.border-radius-img {
  border-radius: 30px;

}

.img_h {
  height: 210px;
}

.footer-border {
  border: 1px solid var(--gray);
  opacity: 10%;
}

.footer-ellipse {
  width: 496.78px;
  height: 206.91px;
  opacity: 0.75;
  background: #AD1AAF;
  filter: blur(200px);
  position: absolute;
  left: -9%;
  bottom: -40%;
}

.footer-ellipse-right {
  position: absolute;
  width: 818.79px;
  height: 88.54px;
  opacity: 0.75;
  filter: blur(200px);
  right: -9%;
  bottom: -40%;
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
}

.roadmap-ellipse {
  width: 358.08px;
  height: 348.38px;
  opacity: 0.75;
  background: #AD1AAF;
  filter: blur(250px);
  left: -18%;
  top: 10%;
}

.behind-position {
  top: 59%;
  left: -9%;
}

.behind-position-right {
  top: 29%;
  right: -9%;
}

.behind-ellipse {
  width: 220.75px;
  height: 120px;
  opacity: 0.75;
  filter: blur(130px);
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
}

.rich-ellipse {
  width: 362.9px;
  height: 366.45px;
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
  filter: blur(123px);
}

.rougue-ellipse {
  width: 385.58px;
  height: 375.13px;
  opacity: 0.75;
  background: #AD1AAF;
  filter: blur(130px);
  top: 5%;
  left: 9%;
}

.rich-top {
  top: 25%;
}

.games-ellipse {
  width: 402.67px;
  height: 200px;
  opacity: 0.75;
  background: #AD1AAF;
  filter: blur(200px);
  left: -12%;
  top: 10%;
}

.overflow-x-clip {
  overflow-x: clip;
}

.slider-size {
  height: 76px;
}

.opicity:hover {
  opacity: 7;
}

.opicity {
  opacity: 0.5;
  transition: 300ms all linear;
}

/* max-width */
.max-w-283 {
  max-width: 283px;
}

.max-w-530 {
  max-width: 530px;
}

.cursor-pointer {
  cursor: pointer;
}

.next-layer1 {
  top: -1%;
}

.next-layer2 {
  bottom: -1%;
}

/* nav */
.nav_line::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 10px;
  background-color: white;
  bottom: -3px;
  transition: 500ms;
  margin-left: auto;
  margin-right: auto;
}

.nav_line:hover::after {
  width: 100%;
}

.nav_line:hover {
  opacity: 1 !important;
}

.navhover:hover {
  color: white;
}

.navhover {
  transition: all 300ms linear;
}

.navline {
  display: none;
}

.icon {
  border-radius: 24px;
  border: 2px solid transparent;
  transition: all 300ms linear;

}

.icon:hover {
  border: 2px solid var(--bs-white);
  scale: 1.1;
  box-shadow: 0px 0px 10px 0px white;
}

.opicity-6 {
  opacity: 0.06;
}

/* roadmap */
.kite_w {
  width: 102%;
}

.RoadMapPostion {
  opacity: 6%;
  position: absolute;
  right: -11%;
  top: 0;
  z-index: -1;
}

.timeline1 {
  position: relative;
}

.timeline1::after {
  content: '';
  position: absolute;
  width: 1px;
  background: linear-gradient(90deg, #EC7646 1.56%, rgba(255, 255, 255, 0) 94.87%);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.roadmap-box {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;

}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.Content2 {
  color: white;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 1px;
  border-radius: 30px;
  transition: all linear 300ms;
  height: 100%;
  background: #1E1E1E75;
  height: 197px;
}

.Content2::before {
  content: '';
  position: absolute;
  background: linear-gradient(151.6deg, rgba(212, 20, 90, 0.4) 1.85%, rgba(251, 176, 59, 0.4) 98.12%);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 30px;
  filter: opacity(0);
  opacity: 0;
}

.Content2:hover::before {
  filter: opacity(1);
  opacity: 1;
}

.roadmap-card {
  overflow: hidden;
  position: relative;
  background: #1E1E1E75;
  border-radius: 30px;
  padding: 17px 20px;
  transition: all linear 300ms;
  z-index: 1;
  height: 100%;

}

.roadmap-card::before {
  content: "";
  position: absolute;
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
  width: 60%;
  height: 100%;
  left: 18%;
  right: 15%;
  bottom: -100%;
  border-radius: 30px;
  z-index: -1;
  transition: all linear 300ms;
}

.roadmap-card:hover {
  background-color: #121212;
}

.roadmap-card:hover::before {
  filter: blur(90px);
  bottom: -81%;
}

/* backtotp */
.back-button {
  bottom: 10px;
  right: 10px;
  z-index: 50;
  background: linear-gradient(151.6deg, rgba(230, 67, 12, 0.4) 1.85%, rgba(150, 95, 7, 0.4) 98.12%);
  -webkit-mask-composite: xor;
  padding: 10px;
  border-radius: 50%;
  opacity: 1;
  box-shadow: 0px 0px 20px 0px rgb(247, 137, 18);
}

/* preloder */
.bounce {
  animation: bounce 2s linear infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30%);
  }

  100% {
    transform: translateY(0);
  }
}

.loader {
  text-align: center;
  vertical-align: middle;
  position: relative;
  box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.2);
}

.loader span {
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin: 0 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.loader span:nth-child(2) {
  background: #D4145A;
}

.loader span:nth-child(3) {
  background: #AD1AAF;
}

.loader span:nth-child(4) {
  background: #FBB03B;
}

.loader span:not(:last-child) {
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(30px);
  }
}

.loader span:last-child {
  animation: jump 1.5s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(10px, -10px);
  }

  20% {
    transform: translate(20px, 10px);
  }

  30% {
    transform: translate(30px, -50px);
  }

  70% {
    transform: translate(-150px, -50px);
  }

  80% {
    transform: translate(-140px, 10px);
  }

  90% {
    transform: translate(-130px, -10px);
  }

  100% {
    transform: translate(-120px, 0);
  }
}

.duration-100 {
  transition: 100ms linear;
}

/* text-ellipse */
.text-position {
  top: 0;
  right: -9%;
}

.behind-text-ellipse {
  left: -8%;
  top: -5%;
}

.roadmap-text-ellipse {
  right: -9%;
  top: 2% !important;
}

.vedio-btn {
  bottom: 31%;
  right: 34%;
}

.mt_lg_btn {
  margin-top: 20px;
}

.LineLogo {
  max-width: 50px;
  position: absolute;
  top: 0;
  left: 2px;
  z-index: 1;
}

.navlogo {
  max-width: 206px;
}

@media (max-width: 992px) {
  .nav_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    transition: 500ms linear;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    background-image: url(../src/assets/images/herobg.webp);
    z-index: 6 !important;
  }

  .navline {
    width: 30px;
    height: 23px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 6;
    flex-direction: column;
  }

  .navline span {
    transition: 0.3s linear;
    width: 100%;
    height: 3px;
    border-radius: 0px;
    background-color: var(--bs-white);
  }

  .left_0 {
    left: 0;
  }

  .left_100 {
    left: -100%;
  }

  .cross .crl-1 {
    transform: rotate(50deg) translate(14px, 13px);
  }

  .cross .crl-2 {
    transform: translateX(-50%);
    opacity: 0;
  }

  .cross .crl-3 {
    transform: rotate(-50deg) translateY(-50%);
  }

  .bg_header {
    background-size: cover;
  }

  .overflow_hidden {
    overflow: hidden;
  }

  .svg-w {
    width: 50%;
  }

  .text_c_center {
    text-align: center;

  }

  .btn_center {
    display: flex;
    justify-content: center;
  }

}

@media (max-width: 767.9px) {
  .timeline1::after {
    left: 31px;
  }


  .roadmap-box {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0;
  }

}

@media (min-width: 767.5px) {
  :root {
    /* font-size */
    --fs-xs: 14px;
    --fs-s: 16px;
    --fs-sm: 18px;
    --fs-m: 20px;
    --fs-md: 24px;
    --fs-lg: 32px;
    --fs-xl: 52px;
    --fs-xxl: 72px;
    --fs-2xl: 187.49px;
  }

  .form-group label:before {
    padding: 8px 7px 7px 8px;

  }

  .back-button {
    padding: 15px;
  }

  .link-btn {
    padding: 14px 32px 14px 32px !important;
  }

  .LineLogo {
    max-width: 70px;
    left: 44.6%;
  }

  .main-timeline::after {
    left: 50% !important;
  }

  .common-btn {
    padding: 14px 32px 15px 32px !important;
  }

  .h_richworld {
    height: 458px;
  }

  .mb-md-170 {
    margin-bottom: 170px;
  }

  .vedio-btn {
    bottom: 37%;
    right: 44%;
  }
}

@media (min-width: 991.5px) {
  .vedio-btn {
    bottom: 42%;
    right: 47%;
  }

  .max-w-517 {
    max-width: 517px;
  }

  .pl-leble {
    padding-left: 32px;
  }

  .img_h {
    height: 422px;
  }

  .level-card {
    height: 296px;
  }

  .mt_lg_btn {
    margin-top: 35px !important;
  }

  .mt-lg-170 {
    margin-top: 170px;
  }

  .LineLogo {
    left: 45.95%;
  }

  .w_50 {
    width: 50%;
  }

  .formsec-bg {
    height: 839px;
  }

  .bg-nextsec {
    height: 592px;
  }

  .bg-levelsec {
    height: 765px;
  }

  .bg-nextsec {
    height: 592px;
  }

  .ms-lg-60 {
    margin-left: 110px;
  }

  /* line-height */
  .lh-18 {
    line-height: 18px;
  }

  .lh-19 {
    line-height: 19px;
  }

  .lh-24 {
    line-height: 24px;
  }

  .lh-27 {
    line-height: 27px;
  }

  .lh-28 {
    line-height: 28px;
  }

  .lh-38 {
    line-height: 38px;
  }

  .lh-62 {
    line-height: 62px;
  }

  .lh-86 {
    line-height: 86px;
  }

  .lh-225 {
    line-height: 225px;
  }

  .game-card:hover {
    transform: translateY(-18%) !important;
  }

  .game-card {
    max-width: 367px;
    height: 262px;
  }

  .pl-text {
    padding-left: 85px !important;

  }
}

@media (min-width:1199.5px) {
  .LineLogo {
    /* left: 47%; */
    top: -7px;
  }

  .kite_w {
    width: 121%;
  }

  .form-card {
    max-width: 726px;
  }
}

@media (min-width:1200px) {
  .behind-card {
    height: 372px !important;
    max-width: 558px;
  }

  .roadmap-box {
    max-width: 530px;
    margin-left: 10px;
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .container {
    max-width: 1140px !important;
  }
}

@media (min-width: 1600px) {
  .kite_w {
    width: 104%;
  }

  .hero_bottom {
    padding-bottom: 0px !important;
  }

  .LineLogo {
    left: 47% !important;
  }

  .pl-text {
    padding-left: 218px !important;

  }

  .behind-card {
    max-width: 633px;
  }

  .roadmap-box {
    margin-left: 57px;
  }

}